div(class="creatives_draggables")
  div(class="creatives_tabs")
    div(class="creatives_tab",
      ng-click="activeTab = 'images'",
      ng-class="{'creatives_tab__active': activeTab == 'images'}")
      span(class="creatives_tab-title") Images
      span(class="creatives_tab-question")
        span ?
    div(class="creatives_tab", ng-click="activeTab = 'headers'",
    ng-class="{'creatives_tab__active': activeTab == 'headers'}")
      span(class="creatives_tab-title") Headers
      span(class="creatives_tab-question")
        span ?
    div(class="creatives_tab", ng-click="activeTab = 'texts'",
    ng-class="{'creatives_tab__active': activeTab == 'texts'}")
      span(class="creatives_tab-title") Texts
      span(class="creatives_tab-question")
        span ?
  div(class="creatives_tabs-content",
    process-files,
    ng-file-drop, ng-model="files",
    drag-over-class="creatives_tabs-content__dragover", multiple="true",
    accept="*",
    ng-file-change="fileDropped($files, $event, $rejectedFiles)",
    hide-on-drop-not-available="false",
    allow-dir="true")
    div(class="creatives_strings_header-tab", ng-show="activeTab == 'images'")
      button(class="creatives_image-button btn btn-success btn-sm", ng-file-select, ng-multiple="true", ng-model="files") Select Files
      div(class="creatives_images", ng-sortable="imagesSortable")
        div(class="creatives_image-wrapper",
          ng-repeat="src in images")
          span(class="creatives_item-remove", ng-click="images.splice($index, 1)")
            span &times;
          div(class="creatives_image")
            img(ng-src="[[src]]")
    div(class="creatives_strings_header-tab", ng-show="activeTab == 'headers'")
      div(class="creatives_string creatives_strings_header-input")
        textarea(rows="2", type="text", string-add, ng-blur="onBlur(header, $event)", ng-change="onChange(header)",
          ng-model="header", name="headers", auto-focus="true", ng-keypress="keyPress('headers', header, $event)",
          placeholder="Type your headline here and press 'return' button")
      div(class="creatives_strings creatives_strings__headers", ng-sortable="headlineStrings")
        div(class="creatives_string creatives_strings_header", ng-repeat="header in headers")
          div(class="creatives_string-inner")
            span(class="creatives_string-drag-handle") ☰
            span(class="creatives_item-remove", ng-click="headers.splice($index, 1)")
              span &times;
            span(class="editable" data-value="header") [[header]]
    div(class="creatives_strings_text-tab", ng-show="activeTab == 'texts'")
      div(class="creatives_string creatives_strings_text-input")
        textarea(rows="2", type="text", string-add, ng-blur="onBlur(text, $event)", ng-change="onChange(text)",
          ng-model="text", name="texts", auto-focus="true", ng-keypress="keyPress('texts', text, $event)",
          placeholder="Type your text here and press 'return' button")
      div(class="creatives_strings creatives_strings__texts", ng-sortable="textStrings")
        div(class="creatives_string creatives_strings_text", ng-repeat="text in texts")
          div(class="creatives_string-inner")
            span(class="creatives_string-drag-handle") ☰
            span(class="creatives_item-remove", ng-click="texts.splice($index, 1)")
              span &times;
            span(class="editable" data-value="text") [[text]]